/* selectors */
/* *{
    font-family:  monospace;
    border: 1px solid red;
}
body {
    font-size: 24px;
 border: 3px solid firebrick;
}
p{
    color: blue;
}
.grey{
    color: grey;
}
#grow{
    color: chartreuse; 
}
p span{
    background-color: black;
}
.high{
    font-size: 30px;
    color: rebeccapurple;
} */
/* ------------------------------------------- */
/* CSS colors */
/* body{
    color: yellow;
    font-size: 20px;
    background:rgb(181, 23, 158);
}
p{
    color: hsl(74, 100%, 58%);
} */
/* -------------------- */
/* units and size */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-boxss;
}
header{
    width: 50%;
}
body{
    min-height: 100vh;
}
h1{
    border: 2px dashed red;
    width: 35%;
    font-size: 3rem;
    padding: 0.5em;
}

p{
    font-size: 1rem;
    width: 40ch;
    background-color: aqua;
    width: 50vh
    font-size: 1rem;
} */
/* ''''''''''''''''''''''''''''''''''''' */
/* Box model */
/* *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 5px double red;
    font-size: 1.5rem;
    /* margin: 0.5em 2em ;
    margin-top: 1em;
    margin-right: 2em; */
    /* margin: 1.5em;
    padding: 0.5em;
    outline: 5px solid blue;
    outline-offset: -10px;
   
}
.circle{
    border: 10px solid green;
    border-radius: 50%;
    width: 140px;
    height: 100px;
    margin-left: 2em;
    padding: 10px;
    outline: 5px dashed black;
    outline-offset: 10px;
background-color: aquamarine;
} */ 

/* oooooooooooooooooooooooooooooooooooooooo */
/* Typography */
/* body{
    padding: 10%;
    font-size: 1rem;

}
/* input,button{ */
    /* font-size: inherit; */
/* } */ 
/* .container{
    text-decoration:dashed;
} */
/* p{
    /* text-transform: uppercase; */
    /* text-align: left; */
    /* text-indent: 2em; */
    /* line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 2em; */
    /* font-weight: 1000;
    font-family
: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} */


    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
    /* styleing the links  */

/* a{
    text-decoration: none;
    cursor: not-allowed;
    color: brown;
}
a:visited{
    color: #000;
}
a:active{
    color: aqua;
}
a:hover{
    color: darkorange;
} */
/* a:hover, a:focus{
    background-color: rgba(red, green, blue, alpha);

      opacity: 0.1;
} */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* lIST STYLE */
ol{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    /* list-style-image: url(https://cdn2.vectorstock.com/i/1000x1000/10/96/green-check-mark-icon-in-a-circle-tick-symbol-vector-41911096.jpg); */
 color: blue;
 list-style: square url(smoething) inside ; 

}
ul li:nth-child(2){
    color: brown;

}
ol li:nth-child(3){
    color: black;

}
ul li::marker{
    color: aqua;
    font-size: 2em;
    content: only today offer; 
}
/* marker mean style symbol its sudo element */